@font-face {
  font-family: 'sans-extra';
  src: url('../fonts/Lucifer-Sans-ExtraLight.otf');
}

@font-face {
  font-family: 'sans-light';
  src: url('../fonts/Lucifer-Sans-Light.otf');
}

@font-face {
  font-family: 'sans-medium';
  src: url('../fonts/Lucifer-Sans-Medium.otf');
}

@font-face {
  font-family: 'sans-semi-bold';
  src: url('../fonts/Lucifer-Sans-SemiCnd-Bold.otf');
}

@font-face {
  font-family: 'sans-semi-extra';
  src: url('../fonts/Lucifer-Sans-SemiCnd-ExtraBold.otf');
}

@font-face {
  font-family: 'sans-semi-medium';
  src: url('../fonts/Lucifer-Sans-SemiCnd-Medium.otf');
}

$main-color: #2b3e50;
$hover-color: rgb(253, 72, 0);
$font-sans-medium: sans-medium, arial, sans-serif;
$font-sans-light: sans-light, arial, sans-serif;
$font-sans-semi-medium: sans-semi-medium, arial, sans-serif;
$font-sans-semi-bold: sans-semi-bold, arial, sans-serif;
$font-sans-semi-extraBold: sans-semi-extra, arial, sans-serif;

body {
  margin: 0px;
  background: #2d3741;

  .wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding-top: .1px;
  }

  header {
    transform: translateY(-66px);
    transition: transform ease-out 1.5s;
    ul {
      display: flex;
      justify-content: space-between;
      padding: 0px 40px;
      li {
        display: block;
        cursor: pointer;
        
        &:hover>div {
          background: #93845B;
        }
      }
      a {
        color: black;
        font-family: $font-sans-medium;
        font-size: 15px;
        text-decoration: none;

        &:hover {
          color: #93845B;
        }
      }

      div {
        background: black;
        width: 48px;
        height: 1px;
        margin-bottom: 4px;

        &:first-child{
          margin-top: 1px;
          height: 2px;
        }

        &:last-child{
          height: 3px;
        }
      }

      img {
        width: 29px;

        &:hover {
          filter: invert(45%) sepia(100%);
        }
      }
    }
  }

  .header_active {
    transform: translateY(0px);
    transition: transform ease-out 1.5s;
  }

  main {
    overflow: hidden;

    .main__first-section {
      height: 120%;
      position: relative;
      display: flex;
      padding-bottom: 20%;

      #fashion,
      #design {
        position: absolute;
        transform: rotate(270deg);
        font-size: 21px;
        font-family: $font-sans-medium;
        color: white;
        text-shadow: 0px 0px 2px black;
        text-transform: uppercase;
        left: -1%;

        &::after {
          content: url(../img/Shape.png);
          position: absolute;
          transform: rotate(90deg) scale(.8);
          top: 25%;
          right: -15%;
        }
      }

      #fashion {
        top: 10%;
      }

      #design {
        top: 33%;
      }

      .main__fashion-design_move {
        animation-name: fashion-design-move;
        animation-duration: 1.5s;
      }

      @keyframes fashion-design-move {
        from {transform: translateX(-150px) rotate(270deg)}
        to {transform: translateX(0px) rotate(270deg)}
      }

      #job-done {
        position: absolute;
        top: 80%;
        left: 6%;

        li {
          font-family: $font-sans-semi-medium;
          font-size: 11px;
          color: black;
          list-style-type: none;
          text-transform: uppercase;
          margin-bottom: 20px;

          span {
            color: #a6abaf;
          }
        }
      }

      .main__job-done_move {
        animation-name: move-job-done;
        animation-duration: 2s;
      }

      @keyframes move-job-done {
        from {transform: translateX(-150px); opacity: 0}
        to {transform: translateX(0px); opacity: 1}
      }

      #campaign {
        position: absolute;
        font-family: $font-sans-semi-medium;
        font-size: 12px;
        color: black;
        text-transform: uppercase;
        text-align: center;
        top: 91.6%;
        left: 44%;
        z-index: 10;

        &::after {
          content: "";
          position: absolute;
          bottom: 155%;
          right: 50%;
          width: 2px;
          height: 150%;
          background: linear-gradient(white 50%, black 50%);
        }
      }

      .main__campaign_move {
        animation-name: move-campaign;
        animation-duration: 2s;
      }

      @keyframes move-campaign {
        from {transform: translateY(-100px); opacity: 0}
        to {transform: translateY(0px); opacity: 1}
      }

      #paris {
        position: absolute;
        font-family: $font-sans-medium;
        font-size: 14px;
        color: black;
        text-transform: uppercase;
        top: 19.3%;;
        right: 27.2%;

        &::after {
          content: "2019";
          position: absolute;
          top: -10px;
          right: -25px;
          color: #93845B;
          font-size: 11px;

        }
      }

      .main__paris_move {
        animation-name: move-paris;
        animation-duration: 2s;

        &::after {
          animation-name: move-paris-after;
          animation-delay: .5s;
          animation-duration: 2s;
        }
      }

      @keyframes move-paris {
        from {opacity: 0; transform: translateX(-75px)}
        to {opacity: 1; transform: translateX(0px)}
      }

      @keyframes move-paris-after {
        from {opacity: 0; transform: translateX(75px)}
        to {opacity: 1; transform: translateX(0px)}
      }

      .main__suvi-koponen {
        max-width: 1920px;
        position: absolute;
        font-family: $font-sans-semi-bold;
        font-size: 265px;
        text-transform: uppercase;
        color: #93845B;

        #suvi {
          margin-top: -0.5%;
          margin-left: 325px;    
          margin-block-end: 0px;   
        }

        #koponen {
          margin-block-start: 0em;
          margin-block-end: 0em;

          #koponen-kopon,
          #koponen-f-e,
          #koponen-s-n {
            position: absolute;
            top: 275px;
            z-index: 6;
          }
        }

        .suvi-koponen__suvi_move {
          animation-name: move-suvi;
          animation-duration: 1s;
        }

        @keyframes move-suvi {
          from {transform: translateX(1000px); opacity: 0;}
          to {transform: translateX(0px); opacity: 1;}
        }

        .suvi-koponen__koponen-kopon_move {
          animation-name: move-koponen-kopon;
          animation-duration: 1.5s;
          animation-fill-mode: both;
          animation-delay: .05s;
          offset-path: path("M-500,360 L485,360");
        }

        @keyframes move-koponen-kopon {
          from {offset-distance: 0%; opacity: 0}
          to {offset-distance: 100%; opacity: 1}
        }

        .suvi-koponen__koponen-f-e_move {
          animation-name: move-koponen-f-e;
          animation-duration: 1.5s;
          animation-fill-mode: both;
          animation-delay: .05s;
          offset-path: path("M0,360 L950,360 S1050,300 1050,300 S1075,275 1075,275 S1100,250 1100,250 S1125,225 1125,225 S1150,200 1150,200 S1175,150 1175,150 S1200,100 1200,100 S1200,75 1200,75 S1200,50 1200,50 S1200,25 1200,25 S1200,0 1200,0");
        }

        @keyframes move-koponen-f-e {
          from {offset-distance: 0%; opacity: 0}
          to {offset-distance: 74%; opacity: 1}
        }

        .suvi-koponen__koponen-s-n_move {
          animation-name: move-koponen-s-n;
          animation-duration: 1.5s;
          animation-fill-mode: both;
          offset-path: path("M0,360 L950,360 S1050,300 1050,300 S1075,275 1075,275 S1100,250 1100,250 S1125,225 1125,225 S1150,200 1150,200 S1175,150 1175,150 S1200,100 1200,100 S1200,75 1200,75 S1200,50 1200,50 S1200,25 1200,25 S1200,0 1200,0");
        }

        @keyframes move-koponen-s-n {
          from {offset-distance: 0%; opacity: 0}
          to {offset-distance: 88%; opacity: 1}
        }

      }

      #first-first,
      #first-second {
        height: auto;
        width: 50%
      }

      #window-6-step {
        position: absolute;
        background: white;
        border: 2px solid black;
        z-index: 6;
        top: 66.5%;
        left: 26%;
        width: 24%;

        figure {
          display: flex;
          flex-wrap: wrap;
          margin-inline-start: 1em;
          margin-inline-end: 1em;
          font-family: $font-sans-semi-medium;

          img {
            width: 37%;
            margin-right: 7%;
          }

          figcaption {
            width: 56%;

            & p:first-child {
              font-size: 10px;
              color: #B0B0B0;
              width: 70%;
              margin: 0%;
            }

            & p:last-child {
              font-size: 12px;
              text-transform: uppercase;
              margin-top: 40%;
              margin-bottom: 0%;
            }
          }
        }

        &>img {
          position: absolute;
          width: 10%;
          right: 0%;
          top: 0%;
        }
      }

      .main__window-6-step_move {
        animation-name: move-window-6-step;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.1, 3, 0.6, -3);
        
      }

      @keyframes move-window-6-step {
        from {transform: scale(0.65)}
        to {transform: scale(1)}
      }

      #first-second {
        z-index: 5;
      }

      #first-third {
        position: absolute;
        height: auto;
        width: 20%;
        top: 33px;
        left: 77%
      }

      .main__first-first_change-size {
        transform-origin: 100% 70%;
        transform: scale(0.87) translateX(5%);
        transition: transform ease-out 1s;
      }

      .main__first-second_change-size {
        transform-origin: 100% 0;
        transform: scale(0.87) translate(-25%, 33%);
        transition: transform ease-out 1s;
      }

      .main__first-third_change-size {
        animation-name: smooth-belt;
        animation-duration: 1.5s;
      }

      @keyframes smooth-belt {
        from {opacity: 0}
        to {opacity: 1}
      }

      #layout-first,
      #layout-second {
        position: absolute;
        height: auto;
        width: 50%;
        z-index: 5;
      }

      #layout-second {
        left: 50%;

      }

      .screen__white-layout_move-down {
        transform-origin: top;
        animation-name: move-down;
        animation-duration: .5s;
      }

      .screen__white-layout_move-top {
        transform-origin: bottom;
        animation-name: move-top;
        animation-duration: .5s;
      }

      .screen__white-layout_move-left {
        transform-origin: right;
        animation-name: move-left;
        animation-duration: .5s;
      }

      .screen__white-layout_move-right {
        transform-origin: left;
        animation-name: move-right;
        animation-duration: .5s;
      }

      @keyframes move-down {
        from {transform: scaleY(1);}
        to {transform: scaleY(0);}
      }

      @keyframes move-top {
        from {transform: scaleY(1);}
        to {transform: scaleY(0);}
      }

      @keyframes move-left {
        from {transform: scaleX(1);}
        to {transform: scaleX(0);}
      }

      @keyframes move-right {
        from {transform: scaleX(1);}
        to {transform: scaleX(0);}
      }

      #timer {
        position: absolute;
        font-size: 200px;
        font-family: $font-sans-medium;
        letter-spacing: 20px;
        top: calc(50vh - 550px);
        left: calc(50vw - 135px);
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(90deg, rgb(97, 97, 97) 50%, rgb(2, 2, 2) 50%, rgb(2, 2, 2));
        text-align: justify;
        z-index: 10;
      }
    }

    .main__second-section {
      position: relative;
      display: flex;   
      height: 80vw;
      max-height: 1500px;
      
      #startingOn {
        position: absolute;
        width: 800px;
        height: 600px;
        font-size: 96px;
        line-height: 91px;
        transform: rotate(90deg);
        text-transform: uppercase;
        font-family: $font-sans-semi-extraBold;
        top: 0px;
        right: 48%;
        
        span {
          color: #B0B0B0;
        }

      }

      #circle {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background: #93845B;
        opacity: 0.1;
      }

      .second-section__circle_change-size {
        animation-name: change-size-circle;
        animation-duration: 2s;
        animation-fill-mode: both;
        transition: all ease-out 1s;
      }

      @keyframes change-size-circle {
        from {width: 0px; height: 0px; top: 50%; left: 50%;}
        to {width: 771px; height: 796px; top: calc(50% - 530px); left: calc(50% - 420px);}
      }

      #second-first {
        position: absolute;
        width: 43.5%;
        height: auto;
        left: 45.5%;
        top: 7%;
      }

      #window-vogue {
        position: absolute;
        background: white;
        border: 2px solid black;
        z-index: 6;
        top: 61%;
        left: 4%;
        width: 20.5%;
        padding: .5%;

        figure {
          display: flex;
          flex-wrap: wrap;
          margin-inline-start: 1em;
          margin-inline-end: 1em;
          font-family: $font-sans-semi-medium;

          img {
            width: 42%;
            margin-right: 7%;
          }

          figcaption {
            width: 50%;
            font-size: 12px;

            & p:first-child {
              color: #B0B0B0;
              margin: 0%;
            }

            & p:last-child {
              text-transform: uppercase;
              margin-top: 42%;
              margin-bottom: 0%;
            }
          }
        }

        &>img {
          position: absolute;
          width: 10%;
          right: 0%;
          top: 0%;
        }
      }

      .main__window-vogue_move {
        animation-name: move-window-vogue;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.1, 3, 0.6, -3);
        
      }

      @keyframes move-window-vogue {
        from {transform: scale(0.65)}
        to {transform: scale(1)}
      }

      #window-modeling-career {
        position: absolute;
        background: white;
        border: 2px solid black;
        top: 22.5%;
        left: 24%;
        width: 32%;
        padding: 0% 2%;
        font-family: $font-sans-light;

        &>p {
          font-size: 23px;
          margin-bottom: 15%;

          span {
            color: #B0B0B0;
          }
        }

        .layout-two-column {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          text-transform: uppercase;

          p {
            margin-right: 7%;
          }

        }

        &>img {
          position: absolute;
          width: 7%;
          right: 0%;
          top: 0%;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .main__window-modeling-career_move {
        animation-name: move-window-modeling-career;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }

      @keyframes move-window-modeling-career {
        from {transform: translateY(-300px) scale(0.3)}
        to {transform: translateY(0px) scale(1)}
      }

      #window-modeling-career-backside {
        position: absolute;
        top: 22.5%;
        left: 24%;
        width: 36.1%;

        &>img:first-child {
          width: 100%;
        }

        &>img:last-child {
          position: absolute;
          width: 7%;
          left: 2%;
          bottom: 3%;
          transform: rotate(180deg);

          &:hover {
            cursor: pointer;
          }
        }
      }

      .main__window-modeling-career_open {
        animation-name: open-window-modeling-career;
        animation-duration: .75s;
        animation-timing-function: ease-in;
      }

      @keyframes open-window-modeling-career {
        from {transform: rotateY(90deg) scale(1.3); box-shadow: -25px -25px 25px 5px rgba(99, 98, 98, 0.8)}
        to {transform: rotateY(0deg) scale(1); box-shadow: 0px 0px 0px 0px rgba(99, 98, 98, 0.8)}
      }

      .main__window-modeling-career_close {
        animation-name: close-window-modeling-career;
        animation-duration: .75s;
        animation-timing-function: ease-out;
      }

      @keyframes close-window-modeling-career {
        from {transform: rotateY(0deg) scale(1); box-shadow: 0px 0px 0px 0px rgba(99, 98, 98, 0.8)}
        to {transform: rotateY(90deg) scale(1.3); box-shadow: -25px -25px 25px 5px rgba(99, 98, 98, 0.8)}
      }

      #winter {
        max-width: 1920px;
        position: absolute;
        font-family: $font-sans-semi-bold;
        font-size: 160px;
        text-transform: uppercase;
        color: #93845B;
        top: 55%;
        left: 50%;

        #second-section-wint,
        #second-section-e,
        #second-section-r {
          position: absolute;
        }

        .second-section__winter-wint_move {
          animation-name: move-koponen-kopon;
          animation-duration: 1.54s;
          animation-fill-mode: both;
          offset-path: path("M-600,100 L190,100");
        }

        @keyframes move-koponen-kopon {
          from {offset-distance: 0%; opacity: 0}
          to {offset-distance: 100%; opacity: 1}
        }

        .second-section__winter-e_move {
          animation-name: move-winter-e;
          animation-duration: 1.51s;
          animation-fill-mode: both;
          offset-path: path("M-400,100 L300,100 S400,100 400,100 S440,90 440,90 S480,70 480,70 S520,50 520,50 S540,10 540,10 S560,-30 560,-30 S580,-50 580,-50 S600,-90 600,-90 S620,-200 620,-200");
        }

        @keyframes move-winter-e {
          from {offset-distance: 0%; opacity: 0}
          to {offset-distance: 72%; opacity: 1}
        }

        .second-section__winter-r_move {
          animation-name: move-winter-r;
          animation-duration: 1.5s;
          animation-fill-mode: both;
          offset-path: path("M-300,100 L300,100 S400,100 400,100 S440,90 440,90 S480,70 480,70 S520,50 520,50 S540,10 540,10 S560,-30 560,-30 S580,-50 580,-50 S600,-90 600,-90 S620,-200 620,-200");
        }

        @keyframes move-winter-r {
          from {offset-distance: 0%; opacity: 0}
          to {offset-distance: 82%; opacity: 1}
        }
      }

    }
  }

  .display-none {
    display: none;
  }
}

@media screen and (min-width: 1660px) {
body {
  header {
    ul {
      a {
        font-size: 18px;
      }
    }
  }

  main {
    .main__first-section {
      #fashion,
      #design {
        font-size: 26px;
      }

      #job-done {
        li {
          font-size: 14px;
        }
      }

      #campaign {
        font-size: 15px;
        top:91.7%;
      }

      #paris {
        font-size: 18px;
        top: 18.5%;
        right: 27.5%;

        &::after {
          top: -12px;
          right: -30px;
          font-size: 14px;
        }
      }

      #window-6-step {
        figure {
          figcaption {
            width: 56%;

            & p:first-child {
              font-size: 13px;
              width: 68%;
            }

            & p:last-child {
              font-size: 15px;
              margin-top: 42%;
            }
          }
        }
      }

      .main__suvi-koponen {
        font-size: 347px;

        #suvi {
          margin-left: 440px;  
        }

        #koponen {
          #koponen-kopon,
          #koponen-f-e,
          #koponen-s-n {
            top: 475px;
          }
        }

        .suvi-koponen__koponen-kopon_move {
          offset-path: path("M-500,360 L635,360");
        }

        .suvi-koponen__koponen-f-e_move {
          offset-path: path("M0,360 L1250,360 S1375,300 1375,300 S1410,275 1410,275 S1445,250 1445,250 S1480,225 1480,225 S1515,200 1515,200 S1550,150 1550,150 S1575,75 1575,75 S1600,0 1600,0 S1627,-18 1627,-18 S1655,-37 1655,-37 S1680,-55 1680,-55 S1710,-75 1718,-75");
        }

        @keyframes move-koponen-f-e {
          to {offset-distance: 71%; opacity: 1}
        }

        .suvi-koponen__koponen-s-n_move {
          offset-path: path("M0,360 L1250,360 S1375,300 1375,300 S1410,275 1410,275 S1445,250 1445,250 S1480,225 1480,225 S1515,200 1515,200 S1550,150 1550,150 S1575,75 1575,75 S1600,0 1600,0 S1627,-18 1627,-18 S1655,-37 1655,-37 S1680,-55 1680,-55 S1700,-75 1700,-75");
        }

        @keyframes move-koponen-s-n {
          to {offset-distance: 85%; opacity: 1}
        }
      }

      #timer {
        top: calc(50vh - 450px);
      }
    } 
    .main__second-section {
      #startingOn {
        width: 1200px;
        height: 600px;
        font-size: 131px;
        line-height: 121px;
        top: 155px;
        right: 38%;
      }

      @keyframes change-size-circle {
        from {width: 0px; height: 0px; top: 50%; left: 50%;}
        to {width: 1011px; height: 1048px; top: calc(50% - 710px); left: calc(50% - 550px);}
      }

      #window-vogue {
        top: 63%;

        figure {
          margin: 7%;

          figcaption {
            font-size: 15.5px;
          }
        }

        &>img {
          width: 8%;
        }
      }

      #window-modeling-career {
        &>p {
          font-size: 29.5px;
          margin-bottom: 15%;
        }

        .layout-two-column {
          font-size: 15.5px;
          margin-bottom: 2%;
        }
      }

      #window-modeling-career-backside {
        width: 36.2%;
      }

      #winter {
        font-size: 210px;
        top: 57%;
        left: 20%;

        .second-section__winter-wint_move {
          animation-name: move-koponen-kopon;
          animation-duration: 1.54s;
          animation-fill-mode: both;
          offset-path: path("M-600,100 L750,100");
        }

        @keyframes move-koponen-kopon {
          from {offset-distance: 0%; opacity: 0}
          to {offset-distance: 100%; opacity: 1}
        }

        .second-section__winter-e_move {
          animation-name: move-winter-e;
          animation-duration: 1.51s;
          animation-fill-mode: both;
          offset-path: path("M-400,100 L1000,100 S1050,100 1050,100 S1100,80 1100,80 S1150,60 1150,60 S1180,30 1180,30 S1210,0 1210,0 S1240,-60 1240,-60 S1260,-120 1260,-120 S1280,-180 1280,-180 S1300,-300 1300,-300");
        }

        @keyframes move-winter-e {
          from {offset-distance: 0%; opacity: 0}
          to {offset-distance: 77%; opacity: 1}
        }

        .second-section__winter-r_move {
          animation-name: move-winter-r;
          animation-duration: 1.5s;
          animation-fill-mode: both;
          offset-path: path("M-400,100 L1000,100 S1050,100 1050,100 S1100,80 1100,80 S1150,60 1150,60 S1180,30 1180,30 S1200,0 1200,0 S1220,-60 1220,-60 S1240,-120 1240,-120 S1260,-180 1260,-180 S1280,-300 1280,-300");
        }

        @keyframes move-winter-r {
          from {offset-distance: 0%; opacity: 0}
          to {offset-distance: 88%; opacity: 1}
        }
      }
    }
  }
}
}

@media screen and (min-width: 1900px) {
  body {
    header {
      ul {
        a {
          font-size: 21px;
        }
      }
    }
  
    main {
      .main__first-section {
        #fashion,
        #design {
          font-size: 32px;
        }
  
        #job-done {
          li {
            font-size: 16px;
          }
        }
  
        #campaign {
          font-size: 18px;
          top: 91.7%;
        }
  
        #paris {
          font-size: 21px;
          top: 18.4%;
          right: 27.2%;
  
          &::after {
            top: -14px;
            right: -35px;
            font-size: 16px;
          }
        }
  
        #window-6-step {
          figure {
            figcaption {
              & p:first-child {
                font-size: 16px;
                width: 69%;
              }
  
              & p:last-child {
                font-size: 18px;
                margin-top: 40%;
              }
            }
          }
        }
  
        .main__suvi-koponen {
          font-size: 400px;
  
          #suvi {
            margin-left: 500px;  
          }
  
          #koponen {
            #koponen-kopon,
            #koponen-f-e,
            #koponen-s-n {
              top: 590px;
            }
          }
  
          .suvi-koponen__koponen-kopon_move {
            offset-path: path("M-500,360 L700,360");
          }
  
          .suvi-koponen__koponen-f-e_move {
            offset-path: path("M0,360 L1430,360 S1565,300 1565,300 S1610,275 1610,275 S1650,250 1650,250 S1690,225 1690,225 S1730,200 1730,200 S1770,150 1770,150 S1800,75 1800,75 S1830,0 1830,0 S1858,-18 1858,-18 S1890,-37 1890,-37 S1920,-55 1920,-55 S1950,-75 1950,-75");
          }
  
          @keyframes move-koponen-f-e {
            to {offset-distance: 73%; opacity: 1}
          }
  
          .suvi-koponen__koponen-s-n_move {
            offset-path: path("M0,360 L1430,360 S1565,300 1565,300 S1610,275 1610,275 S1650,250 1650,250 S1690,225 1690,225 S1730,200 1730,200 S1770,150 1770,150 S1800,75 1800,75 S1830,0 1830,0 S1858,-18 1858,-18 S1890,-37 1890,-37 S1920,-55 1920,-55 S1950,-75 1950,-75");
          }
  
          @keyframes move-koponen-s-n {
            to {offset-distance: 90%; opacity: 1}
          }
        }
  
        #timer {
          top: calc(50vh - 400px);
        }
      } 
      .main__second-section {
        #startingOn {
          width: 1300px;
          height: 600px;
          font-size: 150px;
          line-height: 140px;
          top: 185px;
        }
  
        @keyframes change-size-circle {
          from {width: 0px; height: 0px; top: 50%; left: 50%;}
          to {width: 1156px; height: 1198px; top: calc(50% - 790px); left: calc(50% - 640px);}
        }
  
        #window-vogue {
          top: 65%;
  
          figure {
 
            figcaption {
              font-size: 18px;
            }
          }
        }
  
        #window-modeling-career {
          top: 23%;

          &>p {
            font-size: 34px;
            margin-bottom: 16%;
          }
  
          .layout-two-column {
            font-size: 18px;
            margin-bottom: 2%;
          }
        }
  
        #window-modeling-career-backside {
          top: 23%;
          width: 36.2%;
        }
  
        #winter {
          font-size: 240px;
          top: 59%;
          left: 18%;
  
          .second-section__winter-wint_move {
            animation-name: move-koponen-kopon;
            animation-duration: 1.5s;
            animation-fill-mode: both;
            offset-path: path("M-600,100 L900,100");
          }
  
          @keyframes move-koponen-kopon {
            from {offset-distance: 0%; opacity: 0}
            to {offset-distance: 100%; opacity: 1}
          }
  
          .second-section__winter-e_move {
            animation-name: move-winter-e;
            animation-duration: 1.52s;
            animation-fill-mode: both;
            offset-path: path("M-275,100 L1150,100 S1200,100 1200,100 S1240,90 1240,90 S1280,70 1280,70 S1320,45 1320,45 S1360,10 1360,10 S1390,-50 1390,-50 S1410,-120 1410,-120 S1430,-180 1430,-180 S1450,-300 1450,-300");
          }
  
          @keyframes move-winter-e {
            from {offset-distance: 0%; opacity: 0}
            to {offset-distance: 80%; opacity: 1}
          }
  
          .second-section__winter-r_move {
            animation-name: move-winter-r;
            animation-duration: 1.54s;
            animation-fill-mode: both;
            offset-path: path("M-150,100 L1150,100 S1200,100 1200,100 S1270,80 1270,80 S1320,60 1320,60 S1350,30 1350,30 S1380,0 1380,0 S1410,-60 1410,-60 S1440,-120 1440,-120 S1460,-180 1460,-180 S1480,-300 1480,-300");
          }
  
          @keyframes move-winter-r {
            from {offset-distance: 0%; opacity: 0}
            to {offset-distance: 88.5%; opacity: 1}
          }
        }
      }
    }
  }
}
